@{
    ViewData["Title"] = "WebChat";
}
<nav class="nav mb-3">
    <a class="nav-item nav-link" onclick="switchPage('inbox')">
        <i class="bi-envelope-open"></i> Входящие
    </a>
    <a class="nav-item nav-link" onclick="switchPage('writeMessage')">
        <i class="bi-pen"></i> Написать письмо
    </a>
</nav>
<input type="hidden" id="userName" value="@ViewBag.UserName" />
<div class="inbox page">
    <div class="text-center">
        <h1 class="display-6">Добро пожаловать, @ViewBag.UserName</h1>
    </div>
    <div class="table-responsive">
        <table class="table" id="messagesTable">
        </table>
    </div>
</div>
@await Html.PartialAsync("WriteMessage")