@{
    ViewBag.Title = "Ввод имени";
}
<form method="post">
    <label for="inputName" class="form-label">Введите ваше имя</label>
    <input type="text" class="form-control mb-1" name="name" id="inputName" />
    <button type="submit" class="btn btn-primary">Войти</button>
</form>
